# virtual environment
**/env/
**/venv/

# vscode settings
**/.vscode/

# pycharm settings
**/.idea/

# api key stuff
*.env

# python bytecode
**/__pycache__/

# repl.it
.breakpoints
.replit
poetry.lock
pyproject.toml
replit.nix

# gitpod
.gitpod.yml
.venv/*